/* ===== HERO SECTION ===== */
.hero {
  background: linear-gradient(#795548, #795548);
  color: #fff;
  text-align: center;
  padding: 150px 0;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #fff;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

